.BottomPanel {
    width: 100%;
    height: calc(25px - 2px - 2px);
    background: #eeecdd;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    position: relative;
}

.FavIconContainer {
    border: 0;
    padding-left: 2px;
    height: 100%;
    display: flex;
    min-width: 50px;
    flex: 1;
    align-items: center;
}

.FavIcon {
    height: 80%;
    width: auto;
}

.EmptyBox {
    height: 100%;
    width: 24px;
    border-right: 1px solid #d5d2c3;
    box-shadow: 1px 0 0 #fffffe;
}

.InternetBox {
    height: 100%;
    width: 150px;
    padding-left: 4px;
    display: flex;
    align-items: center;
}

.InternetIcon {
    height: 80%;
    width: auto;
    margin-right: 2px;
}

.BottomRightIcon {
    height: 50%;
    bottom: 0;
    right: 0;
    position: absolute;
}
