.TopPanes {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #eeecdd;
    -webkit-user-select: none;
}

.MenuBar {
    box-sizing: border-box;
    width: 100%;
    height: 23px;
    border-bottom: 1px solid #d5d2c3;
}

.ToolBar {
    box-sizing: border-box;
    width: 100%;
    height: 39px;
    border-top: 1px solid #fffffe;
    border-bottom: 1px solid #d5d2c3;
}
