.AddressBar {
    box-sizing: border-box;
    border-top: 1px solid #fffffe;
    width: 100%;
    height: 25px;
    display: flex;
}

.AddressNote {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7d7d75;
    font-size: 0.8rem;
}

.AddressTextBar {
    box-sizing: border-box;
    border: 1px solid #8f99a3;
    height: 100%;
    min-width: 50px;
    flex: 1;
    /* display: flex; */
    background: #fff;
    position: relative;
}

.AddressGo {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #d5d2c3;
}

.GoIcon {
    height: 20px;
    width: 20px;
    padding-right: 4px;
    padding-left: 4px;
}

.AddressLinks {
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    color: #7d7d75;
    border-left: 1px solid #fffffe;
}

.FavIconContainer {
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FavIcon {
    width: 80%;
    height: auto;
}

.AddressText {
    border: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    left: 25px;
    top: 50%;
    width: calc(100% - 25px - 5px);
    transform: translateY(-50%);
    /* padding-left: 4px;
    padding-right: 4px; */
    /* width: 100%; */
}

.AddressText:focus {
    outline: none;
}
