.ToolBar {
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
}

.ToolBar > div {
    padding-left: 5px;
    height: 100%;
    display: flex;
    align-items: center;
}

.ToolBar > div:first-child {
    padding-left: 2px;
}

.GrayScale p {
    color: #8f99a3;;
}

.GrayScale img {
    filter: grayscale();
} 

.ToolBar img {
    width: 26px;
}

.VerticalLine {
    height: 80%;
    border-left: 1px solid rgba(0,0,0,0.2);
    padding-right: 2px;
}

.SmallerButtonImage {
    height: 20px;
    width: auto !important;
    padding-right: 3px;
}