.TitleBar {
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
    /* background: #245dda; */
    -webkit-user-select: none;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
}

.TitleBar > p {
    color: #fff;
    display: flex;
}

.WindowIcons {
    position: absolute;
    right: 1px;
    width: 67;
    height: 100%;
    margin: 0;
    top: 5px;
}

.WindowButtonIcon {
    width: 21px;
    height: 21px;
    position: relative;
    top: 0;
    padding-left: 2px;
    -webkit-app-region: none;
}

.FavIcon {
    height: 50%;
    padding-right: 4px;
    padding-left: 1px;
}
