.MainBrowserWindow {
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 5px solid #245dda;
    border-top: 0;
    display: flex;
    flex-direction: column;
    border-radius: 1%;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
}

.TopPanesArea {
    /* position: absolute;
    top: 30;
    left: 0; */
    width: 100%;
    height: 87px;
    overflow: hidden;
}

.WebView {
    width: 100%;
    min-height: 50px;
    border: 0;
    flex: 1;
    background: rgba(255, 255, 255, 1);
}

.BottomPanel {
    width: 100%;
    height: 25px;
    border: 0;
}
