.MenuBar {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
}

.MenuItem {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    padding-right: 10px;
}
/* 
.MenuItem > p:first-letter {
    text-decoration:underline;
} */

.MenuWinLogoContainer {
    height: 100%;
    width: 40px;
    background: white;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winlogo {
    height: 85%;
}