body {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
}

p {
    margin: 0;
    color: #000;
}
